---
import { getCollection } from "astro:content";
import Layout from "../../layouts/main.astro";
import PageHeading from "../../components/page-heading.astro";
import PostsLoop from "../../components/posts-loop.astro";
import { getCategoryFromSlug, formatCategoryName } from "../../utils/category.js";

export async function getStaticPaths() {
  const allPosts = await getCollection("post");
  const categories = new Set(
    allPosts.map((post) => getCategoryFromSlug(post.slug))
  );

  return Array.from(categories).map((category) => ({
    params: { category },
  }));
}

const { category } = Astro.params;
const displayName = formatCategoryName(category);
---

<Layout title={displayName}>
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title={`${displayName}`}
      titleKey={`nav.category.${category}`}
      description={`${displayName}`}
      descKey={`nav.category.${category}.desc`}
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <PostsLoop count={999999999} filterCategory={category} />
    </div>
  </section>
</Layout>
